@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?neksny');
  src:  url('../fonts/icomoon.eot?neksny#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?neksny') format('truetype'),
    url('../fonts/icomoon.woff?neksny') format('woff'),
    url('../fonts/icomoon.svg?neksny#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-filter:before {
  content: "\e902";
}
.icon-celender:before {
  content: "\e903";
}
.icon-true:before {
  content: "\e904";
}
.icon-sent:before {
  content: "\e90a";
}
.icon-copy:before {
  content: "\e914";
}
.icon-cow:before {
  content: "\e916";
}
.icon-gallery:before {
  content: "\e917";
}
.icon-true_fill:before {
  content: "\e918";
}
.icon-close_fill:before {
  content: "\e919";
}
.icon-event:before {
  content: "\e91a";
}
.icon-medical:before {
  content: "\e91b";
}
.icon-inventory:before {
  content: "\e91f";
}
.icon-staff:before {
  content: "\e920";
}
.icon-expenses:before {
  content: "\e923";
}
.icon-donation:before {
  content: "\e924";
}
.icon-home:before {
  content: "\e928";
}
.icon-cow_mangment:before {
  content: "\e929";
}
.icon-close_eye:before {
  content: "\e927";
}
.icon-arrow_left:before {
  content: "\e90f";
}
.icon-arrow-right:before {
  content: "\e91e";
}
.icon-chevrons-left:before {
  content: "\e922";
}
.icon-Icon:before {
  content: "\e925";
}
.icon-logout:before {
  content: "\e926";
  color: #dc2626;
}
.icon-eye:before {
  content: "\e911";
}
.icon-menu:before {
  content: "\e90b";
}
.icon-arrow_right_2:before {
  content: "\e907";
}
.icon-add:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-arrow_down:before {
  content: "\e905";
}
.icon-top_up_fill:before {
  content: "\e906";
}
.icon-enquiry_fill:before {
  content: "\e908";
}
.icon-clock_unfill:before {
  content: "\e909";
}
.icon-edit:before {
  content: "\e90e";
}
.icon-user_master_fill:before {
  content: "\e912";
}
.icon-dashboard:before {
  content: "\e915";
}
.icon-search:before {
  content: "\e91c";
}
.icon-sms_1:before {
  content: "\e91d";
}
.icon-delete:before {
  content: "\e921";
}
