<div class="w-full h-screen overflow-y-auto">
  <div class="w-full h-full flex flex-wrap sm:flex-nowrap">
    <div class="w-full hidden lg:flex items-center justify-center order-2">
      <img src="assets/images/login_banner.png" class="w-full h-full" alt="login_banner.png">
    </div>
    <div class="relative w-full flex items-center justify-center pt-28 lg:pt-16 py-5 px-5 bg-[#F8FAFC] order-1">
      <div class="absolute top-10 lg:top-16 lg:left-16">
        <a href="#" class="inline-block">
          <img src="assets/images/logo.png" class="mx-auto" alt="logo" />
        </a>
      </div>
      <div class="w-full max-w-lg p-3.5 md:p-5 lg:p-7 rounded-3xl bg-white shadow-login_custom">
        <h2 class="text-20 lg:text-24 font-bold text-dark text-center">Create Your Password</h2>
        <form class="w-full space-y-3 md:space-y-4 mt-5 md:mt-7" [formGroup]="createPasswordForm">
          <div class="w-full relative space-y-1">
            <label for="email" class="text-14 font-semibold">New Password</label>
            <input [type]="hidePassword ? 'password' : 'text'" placeholder="Enter New Password" class="w-full text-14 lg:text-16 border border-light_blue text-gray_1 placeholder:text-gray_1 rounded-xl outline-none py-2.5 lg:py-3 px-4 lg:px-6" formControlName="newPassword" />
            <!-- <span class="absolute right-5 top-1/2 -translate-y-1/2 text-lg md:text-xl lg:text-24 text-gray_1 leading-10 text-d5 cursor-pointer" [ngClass]="hidePin ? 'icon-eye' : 'icon-close_eye'" (click)="hidePin = !hidePin"></span> -->
            <mat-icon class="absolute right-4 bottom-2 lg:bottom-3 text-gray_1" (click)="showPassword()">{{hidePassword ?
              'visibility' : 'visibility_off'}}</mat-icon>
            <span class="error-message" *ngIf="createPasswordForm.controls['newPassword'].value && (createPasswordForm.controls['newPassword'].touched && createPasswordForm.controls['newPassword'].invalid)">*Please enter valid password.</span>
               <span class="error-message" *ngIf="!createPasswordForm.controls['newPassword'].value && createPasswordForm.controls['newPassword'].hasError('required') && createPasswordForm.controls['newPassword'].touched">*Please enter password.</span>
        </div>
        <div class="w-full relative space-y-1">
          <label for="email" class="text-14 font-semibold">Confirm Password</label>
          <div class="relative">
              <input [type]="hideconfirmPassword ? 'password' : 'text'" name="cPin" id="cPin" placeholder="Enter Confirm Password" class="w-full text-14 lg:text-16 border border-light_blue text-gray_1 placeholder:text-gray_1 rounded-xl outline-none py-2.5 lg:py-3 px-4 lg:px-6" formControlName="confirmPassword" />
              <!-- <span class="absolute right-5 top-1/2 -translate-y-1/2 text-lg md:text-xl lg:text-24 text-gray_1 leading-10 text-d5 cursor-pointer" [ngClass]="hideconfirmPassword ? 'icon-eye' : 'icon-close_eye'" (click)="hideconfirmPassword = !hideconfirmPassword" formControlName="confirmPassword"></span> -->
              <mat-icon class="absolute right-4 bottom-2 lg:bottom-3 text-gray_1" (click)="showConfirmPassword()">{{hideconfirmPassword ?
              'visibility' : 'visibility_off'}}</mat-icon>
              <span class="error-message" *ngIf="createPasswordForm.controls['confirmPassword'].value && (createPasswordForm.controls['confirmPassword'].touched && createPasswordForm.controls['confirmPassword'].invalid)">*Please enter valid Confirm Password.</span>
              <span class="error-message" *ngIf="!createPasswordForm.controls['confirmPassword'].value && createPasswordForm.controls['confirmPassword'].hasError('required') && createPasswordForm.controls['confirmPassword'].touched">*Please enter Confirm Password.</span>
            </div>
        </div>
          <div class="w-full">
            <button type="submit"
              class="w-full flex items-center justify-center border-2 border-primary rounded-lg py-1.5 md:py-2.5 outline-none bg-primary hover:bg-white anim group" (click)="createPin()">
              <span class="text-white group-hover:text-primary anim anim">Save</span>
              <span class="block" *ngIf="isBtnLoading">
                <svg class="animate-spin -mr-1 ml-3 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24">
                  <circle class="opacity-25 stroke-white group-hover:stroke-primary anim" cx="12" cy="12" r="10"
                    stroke-width="4"></circle>
                  <path class="opacity-75 fill-white group-hover:fill-primary anim"
                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                  </path>
                </svg>
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>