<div class="w-full h-screen overflow-y-auto">
  <div class="w-full h-full flex flex-wrap sm:flex-nowrap">
    <div class="w-full hidden lg:flex items-center justify-center order-2">
      <img src="assets/images/login_banner.png" class="w-full h-full" alt="login_banner.png">
    </div>
    <div class="relative w-full flex items-center justify-center pt-28 lg:pt-16 py-5 px-5 bg-[#F8FAFC] order-1">
      <div class="absolute top-10 lg:top-16 lg:left-16">
        <a href="#" class="inline-block">
          <img src="assets/images/logo.png" class="mx-auto" alt="logo" />
        </a>
      </div>
      <div class="w-full max-w-lg p-3.5 md:p-5 lg:p-7 rounded-3xl bg-white shadow-login_custom">
        <h2 class="text-20 lg:text-24 font-bold text-dark text-center">Forgot Password</h2>
        <form class="w-full space-y-3 md:space-y-4 mt-5 md:mt-7" [formGroup]="forgetPassword">
          <div class="w-full space-y-1 relative">
            <label for="email" class="text-14 font-semibold">E-Mail</label>
            <input type="email" name="email" id="email"
              class="w-full text-14 lg:text-16 border border-light_blue text-gray_1 placeholder:text-gray_1 rounded-xl outline-none py-2.5 lg:py-3 px-4 lg:px-6"
              placeholder="Enter your E-Mail" formControlName="email">
              <span class="error-message text-red block absolute -bottom-2.5 left-5 text-sm font-medium" *ngIf="forgetPassword.controls['email'].value && (forgetPassword.controls['email'].touched && forgetPassword.controls['email'].invalid)">*Please enter valid email.</span>
              <span class="error-message text-red block absolute -bottom-2.5 left-5 text-sm font-medium" *ngIf="!forgetPassword.controls['email'].value && forgetPassword.controls['email'].hasError('required') && forgetPassword.controls['email'].touched">*Please enter email.</span>
          </div>
          <div class="w-full">
            <button type="submit"
              class="w-full flex items-center justify-center border-2 border-primary rounded-lg py-1.5 md:py-2.5 outline-none bg-primary hover:bg-white anim group" (click)="getOtp()">
              <span class="text-white group-hover:text-primary anim anim">Continue</span>
              <span class="block" *ngIf="isBtnLoading">
                <svg class="animate-spin -mr-1 ml-3 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24">
                  <circle class="opacity-25 stroke-white group-hover:stroke-primary anim" cx="12" cy="12" r="10"
                    stroke-width="4"></circle>
                  <path class="opacity-75 fill-white group-hover:fill-primary anim"
                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                  </path>
                </svg>
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>