<!-- <mat-toolbar>
  {{title}}
</mat-toolbar>
<mat-dialog-content>
  <p>
    {{message}}
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" color="primary" (click)="onConfirm()"
    tabindex="1"></button>
  <button mat-raised-button tabindex="-1" (click)="onDismiss()">{{btnList[0].secondBtn}}</button>
</mat-dialog-actions> -->

<div class="max-w-4xl w-full rounded-3xl bg-white p-6 xl:p-8">
  <div class="flex items-center justify-between">
    <span class="block text-2xl font-semibold">{{title}}</span>
    <span class="block icon-close text-3xl font-medium text-red cursor-pointer" (click)="onDismiss()"></span>
  </div>
  <div class="w-full">
    <span class="block text-base font-semibold my-8 text-center">{{message}}</span>
  </div>
  <div class="flex items-center space-x-8 mt-4">
    <button type="button" (click)="onDismiss()" class="w-1/2 block text-sm sm:text-base font-medium whitespace-nowrap text-slate-600 bg-white anim border border-slate-600 outline-none cursor-pointer rounded-xl py-2.5 px-5 md:px-8">{{btnList[0].secondBtn}}</button>
    <button type="button" (click)="onConfirm()" class="w-1/2 block text-sm sm:text-base font-medium whitespace-nowrap text-white hover:text-primary bg-primary hover:bg-white anim border border-primary outline-none cursor-pointer rounded-xl py-2.5 px-5 md:px-8">{{btnList[0].firstBtn}}</button>
  </div>
</div>
  
  
