<div class="fixed h-screen inset-0 bg-[#A3A3A3]/30 backdrop-blur-sm py-10 px-5 z-50 overflow-y-auto flex">
    <div class="w-full max-w-[757px] bg-white rounded-xl py-3.5 md:py-5 xl:py-7 px-4 xl:px-6 m-auto">
        <div class="flex items-center justify-between mb-3.5 lg:mb-5 xl:mb-7">
            <h3 class="text-16 lg:text-18 2xl:text-20 text-black font-medium">Inventory Management</h3>
            <span class="icon-close text-[18px] lg:text-[20px] xl:text-[24px] bg-[#FFF2E2] p-1 rounded-lg cursor-pointer" (click)="close()"></span>
        </div>
        <form class="flex flex-wrap -mx-1.5" [formGroup]="inventoryDataForm">
            <div class="w-full sm:w-1/2 p-1.5">
                <label class="label">Item Name</label>
                <!-- <input type="text" class="input" placeholder="Enter Text Here"/> -->
                    <mat-form-field appearance="outline" class="w-full sel_inp">
                    <mat-select placeholder="Item Name" formControlName="itemName">
                        <mat-option [value]="'Green fodder'">Green fodder</mat-option>
                        <mat-option [value]="'Jaggery'">Jaggery</mat-option>
                        <mat-option [value]="'Husk - wheat straw'">Husk - wheat straw</mat-option>
                        <mat-option [value]="'Bran - wheat bran'">Bran - wheat bran</mat-option>
                        <mat-option [value]="'Mortar'">Mortar</mat-option>
                        <mat-option [value]="'Chana Churi'">Chana Churi</mat-option>
                        <mat-option [value]="'Cleaning Supplies'">Cleaning Supplies</mat-option>
                        <mat-option [value]="'Cow Medicine'">Cow Medicine</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-full sm:w-1/2 p-1.5">
                <label class="label">Item Category</label>
                <!-- <input type="text" class="input" placeholder="Enter Text Here"/> -->
                <mat-form-field appearance="outline" class="w-full sel_inp">
                    <mat-select placeholder="Item Category" formControlName="itemCategory">
                        <mat-option [value]="'Fodder'">Fodder</mat-option>
                        <mat-option [value]="'Medicine'">Medicine</mat-option>
                        <mat-option [value]="'Equipment'">Equipment</mat-option>
                        <mat-option [value]="'Others'">Others</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-full sm:w-1/2 p-1.5">
                <label class="label">Quantity</label>
                <input type="text" class="input" placeholder="Enter Text Here" formControlName="quantity"/>
            </div>
            <div class="w-full sm:w-1/2 p-1.5">
                <label class="label">Unit</label>
                <!-- <input type="text" class="input" placeholder="Enter Text Here"/> -->
                <mat-form-field appearance="outline" class="w-full sel_inp">
                    <mat-select placeholder="Unit" formControlName="unit">
                        <mat-option [value]="'kg'">kg</mat-option>
                        <mat-option [value]="'liter'">liter</mat-option>
                        <mat-option [value]="'packet'">packet</mat-option>
                        <mat-option [value]="'unit'">unit</mat-option>
                        <mat-option [value]="'box'">box</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-full sm:w-1/2 p-1.5">
                <label class="label">Date</label>
                <!-- <input type="text" class="input" placeholder="Enter Text Here"/> -->
                <mat-form-field class="relative example-full-width w-full mt-0 date_input" appearance="outline" color="primary">
                    <input matInput [matDatepicker]="picker" (click)="picker.open()" placeholder="Select Date" class="w-full h-full" formControlName="date"/>
                    <span class="icon-celender absolute top-1/2 -translate-y-1/2 -right-9 text-20"></span>
                    <span matSuffix>
                        <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
                    </span>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="w-full sm:w-1/2 p-1.5">
                <label class="label">Supplier Name</label>
                <input type="text" class="input" placeholder="Enter Text Here" formControlName="supplierName"/>
            </div>
            <div class="w-full sm:w-1/2 p-1.5">
                <label class="label">Status</label>
                <!-- <input type="text" class="input" placeholder="Enter Text Here"/> -->
                    <mat-form-field appearance="outline" class="w-full sel_inp">
                    <mat-select placeholder="Item Name" formControlName="status">
                        <mat-option [value]="'In Stock'">In Stock</mat-option>
                        <mat-option [value]="'Low Stock'">Low Stock</mat-option>
                        <mat-option [value]="'Out of Stock'">Out of Stock</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
        <div class="flex items-center justify-center mt-3 sm:mt-4 lg:mt-6 xl:mt-8 2xl:mt-10 space-x-4 md:space-x-6 lg:space-x-8 xl:space-x-10">
            <button class="btn-secondary w-full max-w-[180px] bg-transparent border border-primary text-primary hover:bg-primary hover:text-white" (click)="close()">Cancel</button>
            <button class="btn-primary w-full max-w-[180px]" (click)="onSubmit()">Add</button>
        </div>
    </div>
</div>
